<!-- Footer Section Start -->
<footer>
  <!-- Footer Area Start -->
  <section id="footer-Content">
    <div class="container">
      <!-- Start Row -->
      <div class="row">

        <!-- Start Col -->
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
          <div class="footer-logo" style="text-align: center;">
            <div style="line-height: 1.2;">
              <p style="font-size: 20px; font-weight: bold; color: #fff; margin: 0;">PROVIZ</p>
              <p style="font-size: 14px; font-weight: normal; color: #fff; margin: 0;">SCHOOL OF AI</p>
            </div>
          </div>
        </div>
        <!-- End Col -->

        <!-- Start Col -->
        <div class="col-lg-2 col-md-6 col-sm-6 col-xs-6 col-mb-12">
          <div class="widget">
            <h3 class="block-title">Company</h3>
            <ul class="menu">
              <li><a href="/">- Home</a></li>
              <li><a href="#">- Career</a></li>
              <li><a href="#">- Blog</a></li>
              <li><a href="#">- Press</a></li>
            </ul>
          </div>
        </div>
        <!-- End Col -->

        <!-- Start Col -->
        <div class="col-lg-2 col-md-6 col-sm-6 col-xs-6 col-mb-12">
          <div class="widget">
            <h3 class="block-title">Product</h3>
            <ul class="menu">
              <li><a href="#">- Customer Service</a></li>
              <li><a href="#">- Enterprise</a></li>
              <li><a href="#">- Price</a></li>
              
            </ul>
          </div>
        </div>
        <!-- End Col -->

       

        <!-- Start Col -->
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
          <div class="widget">
            <h3 class="block-title">Subscribe Now</h3>
            <p>Appropriately implement catalysts for change via wireless solutions.</p>
            <div class="subscribe-area">
              <input type="email" class="form-control" placeholder="Enter Email">
              <span><i class="lni-chevron-right"></i></span>
            </div>
          </div>
        </div>
        <!-- End Col -->

      </div>
      <!-- End Row -->
    </div>

    <!-- Copyright Start -->
    <div class="copyright">
      <div class="container">
        <!-- Start Row -->
        <div class="row">
          <div class="col-md-12">
            <div class="site-info text-center">
              <p>Crreated for <a >PROVIZ</a></p>
            </div>
          </div>
          <!-- End Col -->
        </div>
        <!-- End Row -->
      </div>
    </div>
    <!-- Copyright End -->
  </section>
  <!-- Footer Area End -->

</footer>
<!-- Footer Section End -->

<!-- Go To Top Link -->
<a href="#" class="back-to-top">
  <i class="lni-chevron-up"></i>
</a>

<!-- Preloader -->
<div id="preloader">
  <div class="loader" id="loader-1"></div>
</div>
<!-- End Preloader -->
