<!-- Our Team Section Start -->
<section id="team" class="section">
  <div class="container">
    <!-- Start Row -->
    <div class="row">
      <div class="col-lg-12">
        <div class="team-text section-header text-center">  
          <div>   
            <h2 class="section-title">Meet Our AI Experts</h2>
            <div class="desc-text">
              <p>At Proviz School of AI, we have a team of passionate educators, developers, and innovators who are dedicated to bringing AI education to life.</p>  
              <p>Our team is committed to guiding you through your AI learning journey with expertise and support.</p>
            </div>
          </div> 
        </div>
      </div>
    </div>
    <!-- End Row -->
    <!-- Start Row -->
    <div class="row">
      <!-- Start Col -->
      <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="single-team">
          <div class="team-thumb">
            <img src="/img/team/01.jpg" class="img-fluid" alt="AI Educator">
          </div>

          <div class="team-details">
            <div class="team-social-icons">
              <ul class="social-list">
                <li><a href="#"><i class="lni-facebook-filled"></i></a></li>
                <li><a href="#"><i class="lni-twitter-filled"></i></a></li>
                <li><a href="#"><i class="lni-linkedin-filled"></i></a></li>
              </ul>
            </div> 
            <div class="team-inner text-center">
              <h5 class="team-title">Dr. Sarah Smith</h5>
              <p>Lead AI Researcher</p>
            </div>
          </div>
        </div>
      </div>
      <!-- End Col -->

      <!-- Start Col -->
      <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="single-team">
          <div class="team-thumb">
            <img src="/img/team/01.jpg" class="img-fluid" alt="AI Developer">
          </div>

          <div class="team-details">
            <div class="team-social-icons">
              <ul class="social-list">
                <li><a href="#"><i class="lni-facebook-filled"></i></a></li>
                <li><a href="#"><i class="lni-twitter-filled"></i></a></li>
                <li><a href="#"><i class="lni-linkedin-filled"></i></a></li>
              </ul>
            </div>
            <div class="team-inner text-center">
              <h5 class="team-title">Celina D Cruze</h5>
              <p>Front-end Developer</p>
            </div>
          </div>
        </div>
      </div>
      <!-- End Col -->

      <!-- Start Col -->
      <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="single-team">
          <div class="team-thumb">
            <img src="/img/team/01.jpg" class="img-fluid" alt="AI Content Writer">
          </div>

          <div class="team-details">
            <div class="team-social-icons">
              <ul class="social-list">
                <li><a href="#"><i class="lni-facebook-filled"></i></a></li>
                <li><a href="#"><i class="lni-twitter-filled"></i></a></li>
                <li><a href="#"><i class="lni-linkedin-filled"></i></a></li>
              </ul>
            </div>
            <div class="team-inner text-center">
              <h5 class="team-title">Daryl Dixon</h5>
              <p>AI Content Writer</p>
            </div>
          </div>
        </div>
      </div>
      <!-- End Col -->

      <!-- Start Col -->
      <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="single-team">
          <div class="team-thumb">
            <img src="/img/team/01.jpg" class="img-fluid" alt="Support Engineer">
          </div>

          <div class="team-details">
            <div class="team-social-icons">
              <ul class="social-list">
                <li><a href="#"><i class="lni-facebook-filled"></i></a></li>
                <li><a href="#"><i class="lni-twitter-filled"></i></a></li>
                <li><a href="#"><i class="lni-linkedin-filled"></i></a></li>
              </ul>
            </div>
            <div class="team-inner text-center">
              <h5 class="team-title">Mark Parker</h5>
              <p>AI Solutions Engineer</p>
            </div>
          </div>
        </div>
      </div>
      <!-- End Col -->

    </div>
    <!-- End Row -->
  </div>
</section>
<!-- Our Team Section End -->
